body
{
  text-align: center;
 background-color:#FFEE58 ;
}

#tajMahal
{
  height: 200px;
}

h2
{
  font-size: 20px;
}

h3
{
  font-size: 20px;
}
#christTheRedeemer
{
  height: 200px;
}
h4
{
  font-size: 20px;
}

h5
{
  font-size: 20px;
}

h6
{
  font-size: 20px;
}

#colloseum
{
  height: 200px;
}

h7
{
  font-size: 20px;
}

#greatWallofChina
{
  height: 200px;
}